<tr>
  <td>
    <form>
      <input type="checkbox" value="<%= recipeId %>" name="recipe_id" />
    </form>
  </td>
  <td>
    <div class="img-holder">
      <img src='<%= imageUrl %>'>
    </div>
  </td>
  <td>
    <%= publisher %>
  </td>
  <td>
    <%= title %>
  </td>
</tr>
