<div class="row">
  <div class="column full">
    <h1>Recipes</h1>
    <p class="recipe">Please select your recipes.</p>
    <input type='text' name="recipe-search-term" data-id='recipe-search-term' value='Search'>
    <button data-id='search'>Search</button>
  </div>
</div>
<table data-id="recipes">
  <tr>
    <th></th>
    <th>Image</th>
    <th class="left-align">Author</th>
    <th class="left-align">Recipe</th>
  </tr>
</table>
<input type="submit" data-id="save" value="Save">